<!-- Repeater in Angular2+ is *ngFor -->
<div *ngFor="let crib of cribs" class="col-sm-4">
	<div class="thumbnail">
		<img src="assets/images/{{ crib.image }}.jpg" alt="">
		
		<!-- Info under picture -->
		<div class="caption">
			<!-- Hide and Show Block -->
			<div *ngIf="!cribs.showDetails">
				<!-- Type nfo -->
				<h4>
					<span class="label label-primary">
						{{ crib.type }}
					</span>
				</h4>
				<!-- Info Price -->
				<h3>
					<i class="glyphicon glyphicon-tag"></i>
					{{ crib.price | currency:'USD':true }}
				</h3>
				<!--  Info Address-->
				<h4>
					<i class="glyphicon glyphicon-home"></i>
					{{ crib.address }}
				</h4>
			</div>
			
			<hr>

			<!-- Button Show Details -->
			<button 
				class="bt btn-sm btn-success"
				*ngIf="!crib.showDetails"
				(click)="crib.showDetails = !crib.ShowDetails">

					Details
			</button>


			<!-- Show Block when details is clicked-->
			<div *ngIf="crib.showDetails">
				<div class="details">
					<h4>
						<!-- Beadrooms info -->
						<span class="label label-primary">
							Beds: {{ crib.bedrooms }}
						</span>
						<!-- Bathrooms info -->
						<span class="label label-primary">
							Baths: {{ crib.bathrooms }}
						</span>
						<!-- Area info -->
						<span class="label label-primary">
							SqFt: {{ crib.area }}
						</span>
					</h4>

					<!-- Description info -->
					<p>{{ crib.description }}</p>

					<!-- Close button -->
					<button 
						class="btn btn-sm btn-danger"
						(click)="crib.showDetails = !crib.showDetails">

						Close
					</button>

				</div>
			</div>

		</div>

	</div>
</div>